body{
    padding: 100px;

}
.bank-title{
    text-align: center;
}
#submit-box{
    position: absolute;
    top: 25%;
    left: 42%;
}
.submit-area{
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 45px;
    margin-top: 50px;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}